html {
  font-size: 14px;
}
* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}
body {
  padding: 0px;
  margin: 0px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Product Sans", Roboto, sans-serif;
  margin-bottom: 10px;
  font-weight: 400;
}
.logo {
  width: 150px;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  box-shadow: 0px 0px 5px #ccc;
  top: 0px;
  background-color: white;
  z-index: 5;
  padding: 0px 5%;
}
.navWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.navWrapper .nav {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline-flex;
  /* justify-content: flex-end; */
  flex-grow: 0;
}
.navWrapper .nav a {
  color: #022045;
  text-decoration: none;
  padding: 23px 30px;
  font-weight: 500;
  font-size: 1.1rem;
}
.active {
  /* border-bottom: 2px solid red; */
}
.standout {
  background-color: #ffdb00;
}
.fixedBanner {
  width: 100%;
  height: 450px;
  position: fixed;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 64px;
  background-color: #ccc;
  color: #575757;
  padding: 0px 20%;
  text-align: center;
  z-index: 0;
  font-family: "Open Sans";
}
.fixedBanner h1 {
  font-weight: 200;
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 0px 0px 10px 0px;
}
.fixedBanner h2 {
  color: #ccc;
  font-weight: 400;
}
.big-button {
  padding: 15px 50px;
  font-size: 1.3rem;
  font-weight: 400;
  background-color: inherit;
  border: none;
  border-radius: 10px;
  /* color: white; */
  border: 1px solid white;
  cursor: pointer;
  margin-left: 10px;
  transition: 1.5s;
}
.big-button:hover {
  background-color: white;
  color: #828282;
}
.banner-logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 120px;
}

/* .article-image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0px 4%;
}
.article-content {
  flex-grow: 1;
  width: 100%;
  padding: 0px 4%;
}

.article-footer {
  height: 60px;
  background-color: #828282;
  width: 100%;
  padding: 0px 4%;
  color: white;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.article-footer:hover {
  background-color: #0767db;
} */
.main {
  width: 100%;
  background-color: #fff;
  margin-top: 500px;
  position: relative;
  /* box-shadow: -1px -100px 40px rgba(0, 0, 0, 0.1); */
  z-index: 3;
}

.full-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 24%;
  text-align: center;
  font-size: 1.3rem;
  /* background-color: #575757; */
  color: #575757;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  min-height: 300px;
  background-color: #828282;
  padding: 100px 10%;
  color: white;
  font-size: 1.2rem;
}
.flex-row div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row div img {
  width: 150px;
}
.flex-row p {
  line-height: 1.6rem;
}

.flex-row .big-button {
  color: #adadad;
}
.flex-row .big-button:hover {
  color: #828282;
}
.newsletter {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.newsletter form {
  width: 100%;
  display: flex;
}
.newsletter input {
  height: 60px;
  font-size: 1.3rem;
}
.newsletter input[type="text"] {
  flex-grow: 1;
  padding: 10px 20px;
}
.newsletter input[type="submit"] {
  width: 200px;
  border: none;
  background-color: #15e99d;
  color: white;
}
footer {
  background-color: white;
  padding-top: 100px;
}

.footer {
  width: 100%;
  height: 400px;
  background-color: #1b222b;
  padding: 2%;
  color: #adadad;
}
