.quiz,
.photo {
  flex-basis: 48%;
  min-height: 300px;
}

.quiz {
  text-align: left;
}

.photo {
  /* background-color: #ccc; */
  background-image: url("../../assets/images/banner.svg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.quiz p {
  background-color: #ccc;
  padding: 15px;
  color: black;
}
.quiz input {
  cursor: pointer;
}
.quiz form h3 {
  text-align: left;
  margin-bottom: 10px;
}
.quiz form > div {
  margin-bottom: 8px;
}

.quiz form > div input {
  margin-right: 8px;
}

@media screen and (max-width: 992px) {
  .quiz {
    flex-basis: 100%;
  }
  .photo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .quiz p {
    font-size: 1.1rem !important;
  }

  .quiz h3 {
    font-size: 1.2rem;
  }
}
