.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0.5;
  cursor: pointer;
  flex-basis: 20%;
  transition: 1s;
  background-color: #d1d6e2;
  margin-right: 10px;
  /* border: 1px solid black; */
}
.service:last-child {
  margin-right: 0px;
}
.service img {
  width: 120px;
}
.service span {
  display: block;
  font-style: normal;
  font-size: 1.1rem;
  color: #0769e0;
  font-weight: bold;
}
.selected {
  opacity: 1;
  border: 1px solid #ccc;
  border-right: none;
}
.service:hover {
  opacity: 1;
}

@media screen and (max-width: 1260px) {
  .service {
    flex-basis: 33%;
    margin-right: 0px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 768px) {
  .service {
    flex-basis: 49.3%;
  }

  .service img {
    width: 60px;
  }

  .service span {
    font-size: 0.9rem;
  }
}
