.fullFlex {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10%;
  background-color: #e7e7e7;
  margin-top: 50px;
  text-align: center;
  font-size: 1.25rem;
  color: #2b2b2b;
}
.fullFlex h2 {
  margin-top: 0px;
}
.newsletter {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}
.newsletter form {
  width: 100%;
  display: flex;
}
.newsletter input {
  height: 35px;
  font-size: 1.2rem;
  border: 1px solid #00cc83;
}
.newsletter input[type="email"] {
  flex-grow: 1;
  padding: 10px 20px;
  border-right: none;
}
.newsletter input[type="submit"] {
  width: 180px;
  color: white;
  font-weight: 300;
  background-color: #00cc83;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: 1.5s;
  color: white;
}

.fullFlex span {
  display: inline-block;
  font-size: 1rem;
  /* font-style: italic; */
  margin-top: 5px;
}

@media screen and (max-width: 992px) {
  .newsletter {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .fullFlex {
    padding: 50px 3%;
    text-align: left;
    font-size: 1rem;
  }

  .fullFlex p {
    line-height: 2rem !important;
  }
  .newsletter form {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .newsletter input {
    font-size: 0.9rem;
  }
  .newsletter input[type="email"] {
    flex-basis: 100%;
    border-right: 1px solid #00cc83;
  }
  .newsletter input[type="submit"] {
    border-radius: 10px;
    margin-top: 10px;
  }
}
