.Main {
  max-width: 1200px;
  height: 700px;
  display: flex;
  align-items: center;
  margin: auto;
}
.logo {
  width: 180px;
  vertical-align: middle;
}
.Account {
  width: 500px;
  height: 630px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 50px 50px 10px 50px;
  box-shadow: 0px 0px 5px #828282;
}
.Account > div {
  width: 100%;
}
.Account .form {
  flex-grow: 1;
}
.Account .copy {
  height: 30px;
}

.Account input {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.1rem;
}
.Account input[type="submit"]:hover {
  background-color: #525252;
  color: white;
  cursor: pointer;
}
.pageCaption {
  flex-grow: 1;
}

.pageCaption h1 {
  font-size: 2.5rem;
  color: #525252;
}
h1,
h3,
h4 {
  margin: 0px;
  line-height: 40px;
}
.Account h1 {
  font-weight: bold;
}
h3 {
  text-align: center;
}
h4 {
  font-weight: 600;
}
.link {
  color: #0769e0;
  cursor: pointer;
}
.copy span {
  color: #525252 !important;
  font-weight: 400;
}
