.Main {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 50px;
}
.Main li {
  list-style: none;
}
.Main a {
  text-decoration: none;
}
.logo {
  width: 180px;
  vertical-align: middle;
  transition: 2s;
}
.Account {
  width: 500px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-top: 80px;
  padding: 50px 50px 0px 50px;
}
.Account > div {
  width: 100%;
}
.Account .form {
  flex-grow: 1;
}
.Account .copy {
  height: 30px;
}

.pageCaption {
  flex-grow: 1;
}

.pageCaption h1 {
  font-size: 2.5rem;
  color: #525252;
}
.Account h1,
.Account h3,
.Account h4 {
  margin: 0px;
  line-height: 40px;
}
.Account h1 {
  font-weight: bold;
}
.Account h3 {
  text-align: center !important;
}
.Account h4 {
  font-weight: 600;
}

@media screen and (max-width: 1260px) {
  .Main {
    padding: 0px 5%;
  }
}

@media screen and (max-width: 992px) {
  .logo {
    width: 130px;
  }
}

@media screen and (max-width: 768px) {
  .Main {
    padding: 10px 3%;
    flex-direction: column;
    height: 600px;
  }
  .logo {
    width: 100px;
  }
  .Main > div {
    width: 100%;
  }
  .Account {
    padding: 10px 0px;
    box-shadow: none;
    height: 500px;
  }
}
