.api {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
}
.api img {
  width: 17px;
  vertical-align: middle;
  margin-right: 5px;
}
.google {
  border: 1.5px solid #ccc;
}
.facebook {
  background-color: #3b5998;
  color: white;
}
.apple {
  background-color: #000000;
  color: white;
}
