.Navigations {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.nav {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline-flex;
  flex-grow: 0;
}
.nav a {
  color: #022045;
  text-decoration: none;
  padding: 23px 30px;
  font-weight: 500;
  font-size: 1.1rem;
}
.nav a:hover {
  border-bottom: 2px solid #020202;
}
