.flexRow .bigButton {
  /* background-color: #e41a23; */
  color: #e41a23;
  border: none;
  border: 1.3px solid #e41a23;
}
.flexRow .big-button:hover {
  color: #d9d9d9;
}

.bigButton {
  padding: 8px 40px;
  font-size: 1.3rem;
  font-weight: 400;
  background-color: inherit;
  border: none;
  border-radius: 10px;
  border: 1.3px solid #204ecf;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 8px;
  transition: 1.5s;
  color: #525252;
}
.bigButton:hover {
  /* background-color: #0769e0; */
  /* background-color: #00cc83; */
  background-color: #204ecf;
  color: white;
}

.selected {
  /* background-color: #0769e0; */
  background-color: #009662;
  background-color: #204ecf;
  color: white;
}
.selected:hover {
  background-color: #112a70;
}
.bigButton span {
  /* font-size: 1.4rem !important; */
  display: inline-block;
  padding-left: 20px;
  font-weight: bolder;
}
