:global header {
  position: fixed;
  width: 100%;
  height: 64px;
  z-index: 5;
  top: 0px;
  box-shadow: 0px 0px 5px #ccc;
  background-color: white;
}
.header {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  height: 100%;
  /* padding: 0px 5%; */
}
