.FooterWrapper {
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b222b;
  padding: 5%;
  color: #888f99;
  justify-content: flex-start;
  z-index: 4;
  text-align: left;
  position: relative;
}
.logo {
  width: 150px;
  padding: 5px 25px;
  border: 1px solid #888f99;
  border-radius: 20px;
}
.Footer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  font-size: 1.15rem;
  font-weight: 100;
  background-color: #1b222b;
  /* border: 1px solid black; */
}
.Footer > div {
  flex-basis: 20%;
}
.Footer h2 {
  margin-top: 0px;
  padding-bottom: 8px;
  font-size: 1.1rem;
  /* border-bottom: 1px solid #d9d9d9; */
  color: #ffffff;
}

li {
  margin-bottom: 15px;
}
/* 
.socials img {
  width: 30px;
  margin-right: 8px;
} */
.footerBase {
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
  padding: 10px 0px;
  font-size: 1rem;
  /* border-top: 0.2px solid #888f99; */
}

@media screen and (max-width: 768px) {
  .FooterWrapper {
    padding: 5% 3%;
  }
  .logo {
    width: 130px;
  }
  .Footer {
    flex-direction: column;
  }
  .Footer > div {
    padding: 10px 0px;
  }
}
