html {
  font-size: 14px;
}
* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}
body {
  padding: 0px;
  margin: 0px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  /* background-color: #e7e7e7; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Roboto, sans-serif;
  margin-bottom: 10px;
  font-weight: 400;
}
a {
  color: inherit;
}
input {
  outline: none;
}

.big-button {
  padding: 15px 50px;
  font-size: 1.3rem;
  font-weight: 400;
  background-color: inherit;
  border: none;
  border-radius: 10px;
  /* color: white; */
  border: 1.3px solid #525252;
  cursor: pointer;
  margin-left: 10px;
  transition: 1.5s;
  color: #525252;
}
.big-button:hover {
  background-color: #525252;
  color: white;
}

.big-button img {
  vertical-align: middle;
  width: 30px !important;
}

.selected {
  background-color: #525252;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
