.fullFlex {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 60px 0%;
  text-align: center;
  font-size: 1.25rem;
  color: #575757;
}

.fullFlex span {
  display: inline-block;
  font-size: 1rem;
  font-style: italic;
  margin-top: 5px;
}

@media screen and (max-width: 1260px) {
  .fullFlex {
    padding: 60px 3%;
    flex-wrap: wrap;
  }
}
